* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

/* -------------------------------------------- */
/* Navbar Styles */

.navbar {
    background-color: #212945;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 2rem;
    padding: 0 1rem;
}

.navbar ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 2rem;
}

.navbar a {
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: .25rem;
}

.navbar li:hover {
    background-color: #777;
}

.logo {
    height: 70px;
}

/* -------------------------------------------- */
/* Page Styles */
.page {
    color: white;
    background-color: #313D68;
}

.page section {
    min-height: 100vh;
    padding: 2rem;
}