@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #0B0E18;
}

html {
    scroll-behavior: smooth;
    background-color: #0B0E18;
}


/* -------------------------------------------- */
/* Navbar Styles */

.navbar {
    background-color: #0B0E18;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 2rem;
    padding: 0 1rem;
    position: sticky;
    top: 0;
    z-index: 1000;
    border-bottom: 1px solid white;
}

.navbar ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

.navbar a {
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: .25rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar li {
    display: flex;
    border-radius: 15px;
    border: 1.5px solid #ffffff;
    background-color: #313D68;
    align-items: center;
    height: 60%;
    padding: .5rem;
    transition: transform 200ms;
}

.navbar li:hover {
    background-color: #41518B;
    transform: scale(1.1);
}

.logo {
    height: 60px;
    transition: transform 200ms;
}

.logo:hover {
    transform: scale(1.1);
}

/* -------------------------------------------- */
/* Page Styles */

.page {
    color: white;
    background-color: #0B0E18;
}

.page section {
    min-height: 100vh;
    padding: 4.5rem;
}

.page h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.page p {
    font-size: 1.125rem;
    line-height: 1.75;
}