@tailwind base;
@tailwind components;
@tailwind utilities;

@custom-variant dark (&:is(.dark *));

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url('../../public/Background.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

html {
    scroll-behavior: smooth;
    background-color: #0B0E18;
}


/* -------------------------------------------- */
/* Navbar Styles */

.navbar {
    background-color: #0B0E18;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 2rem;
    padding: 0 1rem;
    position: sticky;
    top: 0;
    z-index: 1000;
    border-bottom: 1px solid white;
}

.navbar ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

.navbar a {
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: .25rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar li {
    transition: transform 200ms;
}

.navbar li:hover {
    transform: scale(1.07);
}

.logo {
    height: 60px;
}

/* -------------------------------------------- */
/* Page Styles */

.page {
    color: white;
    background-color: transparent;
}

.page section {
    min-height: 80vh;
}

/* Override for specifically home because its not centered */
#home {
    scroll-margin-top: 80px;
    padding-top: 0;
}

#contact {
    /* will have specific padding after we finish putting in the contacts*/
}

.page h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.page p {
    font-size: 1.125rem;
    line-height: 1.75;
}